<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MCAP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MCAP.My.MySettings.ConnectionString" connectionString="Data Source=#ServerName#;Initial Catalog=#DatabaseName#;Integrated Security=SSPI"
      providerName="System.Data.SqlClient" />
    <add name="MCAP.My.MySettings.MCAPConnectionString" connectionString="Data Source=MT6SQL1;Initial Catalog=MCAP;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MCAP.My.MySettings.MCAPLogConnectionString" connectionString="Data Source=MT6SQL1;nitial Catalog=MCAPLog;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MCAP.My.MySettings.MCAPConfigConnectionString" connectionString="Data Source=MT6SQL1;Initial Catalog=MCAPConfig;Integrated Security=True" />
    <add name="MCAP.My.MySettings.ADCEntryConnectionString" connectionString="Data Source=172.29.75.103;Initial Catalog=ADCEntry;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    
    <trace autoflush="false">
      <listeners>
        <!--
        MCAP20120213
        <add name="MyDBListener"
             type="TraceListeners.SqlTraceListener, TraceListeners, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
             initializeData="Data Source=mt3sqltest;Initial Catalog=MCAPLog;Integrated Security=True"
             cacheSize="5"
             traceOutputOptions= "ProcessId, ThreadId" />
        <remove name="Default" />
        -->
      </listeners>
    </trace>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <applicationSettings>
    <MCAP.My.MySettings>
      <setting name="CommandTimeout" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="DatabaseName" serializeAs="String">
        <value>MCAPConfig</value>
      </setting>
      <setting name="ExportedExcelPath" serializeAs="String">
        <value>C:\MIDWEEK\</value>
      </setting>
      <setting name="ConvertedPathSettings" serializeAs="String">
        <value>\\mt3sql1\MCAPInstall\PngToJpeg.exe</value>
      </setting>
      <setting name="DefaultMidWeekImagePath" serializeAs="String">
        <value>\\mt3dev0\MCAPTesting\Images</value>
      </setting>
      <setting name="ConverterPathSettings" serializeAs="String">
        <value>\\mt3sql1\MCAPInstall\PngToJpeg.exe</value>
      </setting>
      <setting name="ServerName" serializeAs="String">
        <value>MT6SQL1</value>
      </setting>
      <setting name="appDatabaseName" serializeAs="String">
        <value>MCAP</value>
      </setting>
      <setting name="ApplicationName" serializeAs="String">
        <value>MCAP</value>
      </setting>
      <setting name="MCAPCacheImages" serializeAs="String">
        <value>C:\TEMP\MCAPImages\VehicleImage</value>
      </setting>
      <setting name="ACDBName" serializeAs="String">
        <value>ADCEntry</value>
      </setting>
      <setting name="ACServerName" serializeAs="String">
        <value>[172.29.75.103]</value>
      </setting>
    </MCAP.My.MySettings>
  </applicationSettings>
</configuration>
